body{
    background: url(https://www.crushpixel.com/big-static13/preview4/close-up-nature-view-green-1181744.jpg);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
}

.conteudo > a{
    font-size: 1.8em;
    text-decoration: none;
    color: #000;
}

a:hover{
    transition: 0.3s ease-in-out;
    color: rgb(44, 231, 44);
}